.theme-extends-woo-pa-swatches-wrap{
    display: block;
    width: 100%;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container{

}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item{
    width: 26px;
    min-height: 26px;
    border-radius: 50px;
    padding: 2px;
    border: solid 1px #eee; 
    box-sizing: border-box;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container:not(:last-child){
    margin-bottom: 4px;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-term-label,
.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item{
    display: inline-block;
    vertical-align: middle;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-term-label{
    margin: 0 6px 0 0;
    min-width: 40px;
    font-size: .9em;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item:hover{
    border: solid 1px #999;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item:not(:last-child){
    margin-right: 1px;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item.bws-type-image,
.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item.bws-type-color{
    
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item.bws-type-color span,
.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item.bws-type-image img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 50px;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item.bws-type-color span{
    height: 20px;
}

.theme-extends-woo-pa-swatches-wrap .bws-attributes-container .bws-item.bws-type-image img{
    
}